ALBERT_CLE_API=
ALBERT_URL=
ALBERT_MODELE=# Nom du modèle Albert utilisé pour l’évaluation

# Paramètres du backoffice local lancé directement sur l’hôte
MQC_DATA_HOTE=localhost
MQC_DATA_PORT=3000
MQC_DATA_MAX_REQUETES_PAR_MINUTE=100
MQC_DATA_AUTH_RP_ID=localhost
MQC_DATA_AUTH_ORIGIN=http://localhost:3000
MQC_DATA_AUTH_CLEF_SECRETE_DE_SESSION=
UTILISATEURS_MQC={}

MQC_PORT=
MQC_HOTE=
MQC_API_PREFIXE_ROUTE=
MQC_ROUTE_POSE_QUESTION=
MQC_DELAI_ATTENTE_MAXIMUM=
TAILLE_DE_LOT_COLLECTE_MQC=
NB_PROCESSUS_EN_PARALLELE_POUR_DEEPEVAL=
INDEXEUR=# Nom de l’indexeur (INDEXEUR_DOCLING ou INDEXEUR_ALBERT) à utiliser pour effectuer l’indexation de documents
MSC_URL_BASE=# L’URL de MesServicesCyber
MSC_CHEMIN_GUIDES=# Le chemin correspondant aux guides sur MesServicesCyber
ALBERT_ID_COLLECTION_INDEXEE=# Id de la collection contenant tous les documents nécessaires à MQC
ALBERT_ID_COLLECTION_JEOPARDY=# Id de la collection jeopardy afin de générer des nouvelles questions
SECRET_JWT=# Le secret JWT pour valider les jetons d’accès à l’API
