name: Automatisation des calculs de métrique avec Evalap
permissions: {}

on:
  push:
    branches: [main]

jobs:
  evaluation_mqc:
    name: Lance l'évaluation de MQC
    environment: DEMO
    runs-on: ubuntu-latest

    steps:
      - name: Cloner le dépôt Git
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Cloner l'intégralité du dépôt, pour ne pas avoir de « shallow repo » rejeté par Clever

      - name: Installer la CLI Clever Cloud
        shell: bash
        run: npm install -g clever-tools

      - name: Déployer en DÉMO
        env:
          CLEVER_SECRET: ${{ secrets.CLEVER_CLOUD_SECRET }}
          CLEVER_TOKEN: ${{ secrets.CLEVER_CLOUD_TOKEN }}
          ID_APP: ${{ secrets.CLEVER_CLOUD_ID_APP }}
          ID_ORGANISATION: ${{ secrets.CLEVER_CLOUD_ID_ORGANISATION }}
        run: |
          RUN_COMMAND="uv run python src/main.py"
          echo "Commande à exécuter: $RUN_COMMAND"
          clever link -o="$ID_ORGANISATION" "$ID_APP"
          clever env set CC_RUN_COMMAND "$RUN_COMMAND"
          clever deploy --force --same-commit-policy=rebuild --quiet --exit-on deploy-start
