name: Lance une évaluation
permissions: {}

on: workflow_dispatch


jobs:
  evaluation_mqc:
    name: Lance l'évaluation de MQC
    environment: DEMO
    runs-on: ubuntu-latest

    steps:
      - name: Installer la CLI Clever Cloud
        shell: bash
        run: npm install -g clever-tools

      - name: Démarre l’évaluation
        env:
          CLEVER_SECRET: ${{ secrets.CLEVER_CLOUD_SECRET }}
          CLEVER_TOKEN: ${{ secrets.CLEVER_CLOUD_TOKEN }}
          ID_APP: ${{ secrets.CLEVER_CLOUD_ID_APP }}
          ID_ORGANISATION: ${{ secrets.CLEVER_CLOUD_ID_ORGANISATION }}
        run: |
          clever link -o="$ID_ORGANISATION" "$ID_APP"
          clever restart --quiet --exit-on deploy-start
